<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Software Engineer at
      <a class="underline-link" href="http://asta.com.mx/" target="_blank">ASTA Software</a> building and designing things for the web, the cloud (AWS) and mobile (iOS) with some awesome people.
      Also performing project's analytical tasks and requirements that may involve communication and coordination with other departments. <br>
      I graduated from
      <a class="underline-link" href="http://upgop.edu.mx/" target="_blank">Gomez Palacio's Polytechnic University</a> with a <strong><abbr title="Bachelor of Information Technology">BIT</abbr></strong>
      and a major in <strong>software development</strong>, after completing three awesome years
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and ideas, combining my technical knowledge with my keen eye for the analysis to create a successful products. My goal is to always build products that are scalable and efficient under the hood while providing engaging user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen or tweeting random tech and funny stuffs</strong>,
      I'm probably watching/discovering new movies/music, or making barbecues with my family and close friends.
    </p>
  </div>
</section>
