<header class="intro">
  <h1 class="intro__hello">Hello there!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">
    I'm <span class="name">{{site.name}}</span>,
    a software engineer focused on web &amp; iOS development.
    Willing to explore more leadership and communication with the people who I work with.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>
      <a href="mailto:{{site.email}}" target="_blank" class="highlight-link">
        Get in touch with me
        <span class="emoji pointer"></span>
      </a>
    </span>
  </h3>
</header>
